.login-page {
    height: 100vh;
    overflow: hidden;

    .mat-card {
        width: 345px;
    }

    .mat-primary {
        width: 200px;
    }

    .full-width {
        width: 100%;
    }

    mat-form-field {
        width: 100%;
    }

    .side-bg-img {
        background-image: url('../../assets/images/bg.jpg');
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        width: 75vw;
        background-position: center;
    }

    .logo-img {
        background-image: url('../../assets/images/logo.png');
        height: 14vh;
        background-repeat: no-repeat;
        background-size: cover;
        width: 252px;
        background-position: center;
    }

    .sub-title {
        font-size: 17px;
    }

    .bg-text {
        position: absolute;
        top: 15%;
        color: #ffffffed;
        text-transform: uppercase;
        left: 18%;
        font-size: 4em;
        text-align: center;
        right: 16%;
        font-weight: 100;
    }

    .login-form-card {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

