@import '~@angular/material/theming';
@include mat-core();

$mat-myapp-primary: (
    50 : #fbeded,
    100 : #f6d1d1,
    200 : #f0b3b3,
    300 : #e99494,
    400 : #e57d7d,
    500 : #04263e,
    600 : #dc5e5e,
    700 : #d85353,
    800 : #d34949,
    900 : #cb3838,
    A100 : #ffffff,
    A200 : #ffe2e2,
    A400 : #ffafaf,
    A700 : #ff9696,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

.mat-toolbar.mat-primary {
  background: #04263e;
  color: rgb(255, 253, 253) !important;
}


$my-app-primary: mat-palette($mat-myapp-primary);
$my-app-accent:  mat-palette($mat-yellow, 700);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);


.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent:  mat-palette($mat-yellow, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}